
*{
    margin:0;
    padding:0;
    
}
body{
    background-color:#917194;
    text-align:center;
}
.container{
    height:78vmin;
    justify-content:center;
    align-items:center;
    display:flex
}
.game{
     height:60vmin; 
     width:60vmin; 
     display:flex;
     flex-wrap:wrap;
     justify-content:center;
     align-items:center;
     gap:1.5rem;
/* vmin=1% of view port basically 60% of vh */
    }
    .box{
        height:18vmin;
        width:18vmin;
        border-radius: 1rem;
        border:1px solid black;
        box-shadow:0 0 0 1rem rgba(0,0,0,0.3);
        font-size:8vmin;
        color:red;
        background-color:#ffffc7;
    }
    #mybtn{
        padding:1rem;
        background-color:black;
        color:white;
        font-size:1.25rem;
        border-radius:1rem;
    }
    #newbtn{
        padding:1rem;
        background-color:black;
        color:white;
        font-size:20px;
        border-radius:1rem;

    }
    #msg{
        color:rgb(17, 40, 215);
        font-size:5vmin;
    }
    .msgcontainer{
        height:30vmin;
        display:flex;
        justify-content:center;
        align-items:center;
        flex-direction:column;
        gap:4rem;
    }
    .hide{
        display:none;
    }
